body{
    background: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    font-family: Tahoma, serif;
}
header, footer{
    background: rgb(32, 32, 32);
    padding: 105px 0;
}
h1 {
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(89, 0, 255), rgb(255, 0, 73 ));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h5 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: URW Chancery L, cursive;
}
h4 {
    color: #A200FF;
    font-size: 20px;
    font-family: cursive;
}
h3 {
    text-align: center;
    font-family: Gill Sans, sans-serif;
    font-variant: small-caps
}
div {
    width: 1200px;
    margin:  0 auto;
    overflow: hidden;
    padding: 105px 0;
    background: rgb(40, 40, 40);
}
a1 {
  display: inline-block;
  background: linear-gradient(to bottom,#D52B1E 33%, #ffffff 34%,#ffffff 66%,#D52B1E 67%);
  animation: 1s flag infinite ease-in-out both;
  animation-delay: calc(var(--n) * 0.05s);
  height: 60px;
  width: 4px;
  align-items: center;
}
aside, main {
    width: 50%;
    float: left;
}
