body{
    background: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    font-family: Tahoma, serif;
}
header, footer{
    background: rgb(32, 32, 32);
    padding: 105px 0;
}
h1 {
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(89, 0, 255), rgb(255, 0, 73 ));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h5 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: URW Chancery L, cursive;
}
h4 {
    color: #A200FF;
    font-size: 20px;
    font-family: cursive;
}
p1 {
    color: #ffffff;
}
p2 {
    color: #ffffff;
}
p8 {
    color: #a0a0a0;
    text-align: right;
}
li {
  color: rgb(255, 255, 255);
}
p {
    color: rgb(40, 40, 40);
    text-align: right;
}
h3 {
    text-align: center;
    font-family: Gill Sans, sans-serif;
    font-variant: small-caps
}
body{max-width: 105%}
div {
    width: 1280px;
    margin:  0 auto;
    overflow: hidden;
    padding: 105px 0;
    background: rgb(40, 40, 40);
    border-radius: 10px;
}
a1 {
  display: inline-block;
  background: linear-gradient(to bottom,#D52B1E 33%, #ffffff 34%,#ffffff 66%,#D52B1E 67%);
  animation: 1s flag infinite ease-in-out both;
  animation-delay: calc(var(--n) * 0.05s);
  height: 60px;
  width: 4px;
  align-items: center;
}
@keyframes flag {
  0% {transform:translate(0, -1px)}
  50% {transform:translate(0, 1px)}
  100% {transform:translate(0, -1px)}
}
aside, main {
    width: 50%;
    float: left;
}
aside img {
    display: block;
    width: 60%;
    margin: 0 auto;
}
footer p {
    color:  #fff;
    text-align: center;
}

a.button1 {
    font-weight: 700;
    color: rgb(0, 43, 255);
    text-decoration: none;
    font-family: cursive, sans-serif;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(44, 44, 44);
    box-shadow: 0 -3px rgb(0, 43, 255 ) inset;
    transition: 0.2s;
  }
  a.button7:hover { background: rgb(46, 46, 46); }
  a.button7:active {
    background: rgb(53, 53, 53);
    box-shadow: 0 3px rgb(53, 53, 53) inset;
  }

  a.button2 {
    font-weight: 700;
    color: rgb(234, 0, 255);
    font-family: cursive, sans-serif;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(44, 44, 44);
    box-shadow: 0 -3px rgb(234, 0, 255) inset;
    transition: 0.2s;
  }
  a.button7:hover { background: rgb(46, 46, 46); }
  a.button7:active {
    background: rgb(53, 53, 53);
    box-shadow: 0 3px rgb(53, 53, 53) inset;
  }

  a.button3 {
    font-weight: 700;
    color: rgb(0, 255, 136);
    text-decoration: none;
    font-family: cursive, sans-serif;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(44, 44, 44);
    box-shadow: 0 -3px rgb(0, 255, 136) inset;
    transition: 0.2s;
  }
  a.button7:hover { background: rgb(46, 46, 46); }
  a.button7:active {
    background: rgb(53, 53, 53);
    box-shadow: 0 3px rgb(53, 53, 53) inset;
  }

  a.button4 {
    font-weight: 700;
    color: rgb(255, 238, 0);
    text-decoration: none;
    font-family: cursive, sans-serif;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(44, 44, 44);
    box-shadow: 0 -3px rgb(255, 238, 0) inset;
    transition: 0.2s;
  }
  a.button7:hover { background: rgb(46, 46, 46); }
  a.button7:active {
    background: rgb(53, 53, 53);
    box-shadow: 0 3px rgb(53, 53, 53) inset;
  }
